@{
    ViewData["Title"] = $"Sorry, we've found nothing for '{ViewBag.Query}'";
}

@section PageHeader {
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">'@ViewBag.Query'!? So sorry! We searched everywhere. We've found nothing.</h1>
                    <h2 class="text-center">Try something else?</h2>
                </div>
            </div>

            @Html.Partial("_SearchForm", (string)null)

        </div>
    </div>
}


@if(ViewBag.Suggestions != null){

<div class="row">
    <div class="col-lg-12 text-center suggestions">
        Some suggestions: 

        @foreach (string keyword in ViewBag.Suggestions)
        {
            @Html.ActionLink(keyword, "Index", "Search", new { Query = keyword }, new { @class = "badge" })
        }
    </div>
</div>
}